In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

df = pd.read_csv('companies.csv')
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"1,750,000",acquired,USA,NY,New York City,New York,1.0,2012-06-01,2012-06,2012-Q2,2012.0,2012-06-30,2012-06-30
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2.0,NaN,NaN,NaN,NaN,2010-06-04,2010-09-23
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,Tallinn,1.0,2012-10-26,2012-10,2012-Q4,2012.0,2012-08-09,2012-08-09
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"1,500,000",operating,GBR,NaN,London,London,1.0,2011-04-01,2011-04,2011-Q2,2011.0,2011-04-01,2011-04-01
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,Fort Worth,2.0,2014-01-01,2014-01,2014-Q1,2014.0,2014-08-17,2014-09-26

In [3]:
df.shape

(54294, 18)

In [4]:
df.isnull().sum()

permalink               4856
name                    4857
homepage_url            8305
category_list           8817
 market                 8824
 funding_total_usd      4856
status                  6170
country_code           10129
state_code             24133
region                 10129
city                   10972
funding_rounds          4856
founded_at             15740
founded_month          15812
founded_quarter        15812
founded_year           15812
first_funding_at        4856
last_funding_at         4856
dtype: int64

In [14]:
df.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at'],
      dtype='object')

Drop the unnecessary columns, check for null values and then select relevant years. I shall be working with the year 2000 and onwards

In [32]:
companies = df.iloc[:, [1, 4, 5, 6, 7, 9, 10, 15]]
companies.head()

,name,market,funding_total_usd,status,country_code,region,city,founded_year
0,#waywire,News,"1,750,000",acquired,USA,New York City,New York,2012.0
1,&TV Communications,Games,"4,000,000",operating,USA,Los Angeles,Los Angeles,NaN
2,'Rock' Your Paper,Publishing,"40,000",operating,EST,Tallinn,Tallinn,2012.0
3,(In)Touch Network,Electronics,"1,500,000",operating,GBR,London,London,2011.0
4,-R- Ranch and Mine,Tourism,"60,000",operating,USA,Dallas,Fort Worth,2014.0

In [27]:
companies.isnull().sum()

name                    4857
 market                 8824
 funding_total_usd      4856
status                  6170
country_code           10129
region                 10129
city                   10972
founded_year           15812
dtype: int64

In [38]:
companies = companies[companies['founded_year'] >= 2000.0] 
companies['founded_year'].unique()

array([2012., 2011., 2014., 2007., 2010., 2013., 2001., 2008., 2009.,
       2000., 2006., 2004., 2005., 2002., 2003.])

In [37]:
companies.shape

(34823, 8)